poetry.lock linguist-generated=true
setup.py linguist-generated=true
aws-code-build/ci/*.yaml linguist-generated=true
aws-code-build/release/*.yaml linguist-generated=true
.current_gitmodules linguist-generated=true
doc/changes/package_diffs/**.md linguist-generated=true
