name: Check Bazel Build

on:
  push:
    branches:
      - develop
  pull_request:


jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      UDF_CLIENT_ENV_FILE: /tmp/.udf_client_env
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - name: Install UDF Client Dependencies
        run: |
          sudo bash scripts/installUdfClientDeps.sh "$UDF_CLIENT_ENV_FILE"
      - uses: r-lib/actions/setup-r@v2
      - name: Build
        run: |
          source "$UDF_CLIENT_ENV_FILE"
          bazel build --lockfile_mode=off --config no-tty -c dbg --config python --config java --config fast-binary --config r --verbose_failures
        working-directory: ./exaudfclient/
        env:
          USE_BAZEL_VERSION: "7.2.1"
