name: Check if versions are consistent

on:
  push:
    branches-ignore:
      - master

jobs:
  check-version-numbers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'recursive'
      
      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: "3.10"
          poetry-version: "2.3.0"


      
      - name: Check Release
        run: ./scripts/check_release.sh
