name: Check if submodules heads are ancestors of origin/master

on:
  push:
    branches:
      - master
      - develop
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
        submodules: 'recursive'

    - name: Check if submodules heads are ancestors of origin/master
      run: bash scripts/check_if_submodules_head_are_ancestors_of_origin_master.sh 

