name: Publish Docker Test Container

on:
  push:
    branches:
      - master
      - main
      - 'ci-release-test/**'

jobs:
  publish-test-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'recursive'
      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: "3.10"
          poetry-version: "2.3.0"


      - name: Build TestContainer
        run: poetry run exaslct build-test-container --force-rebuild
      - name: Push TestContainer image
        if: ${{ (github.ref == 'refs/heads/master') || (github.ref == 'refs/heads/main') }}
        run: |
          poetry run exaslct push-test-container --source-docker-username "$SECRET_DOCKER_USER_NAME" --target-docker-username "$SECRET_DOCKER_USER_NAME" --force-push true
        env: # Set the secret as an input
          SECRET_DOCKER_USER_NAME: ${{ secrets.CI4_DOCKERHUB_USERNAME }}
          TARGET_DOCKER_PASSWORD: ${{ secrets.CI4_DOCKERHUB_TOKEN }}
          SOURCE_DOCKER_PASSWORD: ${{ secrets.CI4_DOCKERHUB_TOKEN }}
      - name: Push  ci-release-test TestContainer image
        if: ${{ (github.ref != 'refs/heads/master') && (github.ref != 'refs/heads/main') }}
        run: |
          poetry run exaslct push-test-container --source-docker-username "$SECRET_DOCKER_USER_NAME" --target-docker-username "$SECRET_DOCKER_USER_NAME" --force-push true --source-docker-tag-prefix ci_release_test --target-docker-tag-prefix ci_release_test
        env: # Set the secret as an input
          SECRET_DOCKER_USER_NAME: ${{ secrets.CI4_DOCKERHUB_USERNAME }}
          TARGET_DOCKER_PASSWORD: ${{ secrets.CI4_DOCKERHUB_TOKEN }}
          SOURCE_DOCKER_PASSWORD: ${{ secrets.CI4_DOCKERHUB_TOKEN }}
